<link rel="stylesheet" src="../header/header.component.css" />
<div class="main">
    <div class="header">
        <div class="website_info">
            <div class="header_logo">
                <img src="../../assets/logo.png" class="mainlogo" />
                <span class="header_productname"> saketa</span>
            </div>
            <div class="header_websitename">
                <div class="header_pagename">Employee Directory</div>
                <div class="header_pagename_caption">
                    The Ultimate People Directory Experience
                </div>
            </div>
        </div>
        <div class="header_accountholder">
            <div class="header_pagename user">Welcome,</div>
            <div class="header_pagename inblack">Andrew Philips</div>
            <img src="../../assets/userphoto.png" class="userphoto" />
        </div>
    </div>
</div>
<hr />